.main-header{
  height: 300px;
  background:url(../images/frontimg.jpg) no-repeat center center;
}


.logo{
  margin-top:20px;
  @include span(2);

  img{
    max-width:100%;
  }
}

.main-navigation{
  margin-top:10px;
  @include span(5 last);

  li{
    float: left;
  }

  a{
    display: block;
    color: lightskyblue;
    text-decoration: none;
    padding: 0 10px;
  }
}

.article-list{
  h3{
    a{
      color: #464646;
      text-decoration: none;
     }
    }
  p{
    line-height: 1.5;
  }
  .views-row{
    margin: 40px 0;
  }
  .views-field-view-node a{
    color: red;
    text-decoration: none;
  }
}