
.director{
    margin-top: 50px;
}

.director, .manager{
    strong{
        font-weight: bolder;
        font-size: 10px;
    }
}

.movie-description{
    padding:200px;
    background: #000000;
}

